body{
    margin:0px;
    font-family:Arial, Helvetica, sans-serif
}
h1 a{
    color: rgb(52, 127, 184);
    user-select: none;
    text-decoration:none;
}
    h1 a:hover{
        color:rgb(108, 147, 165);
    }


/* masonry */
#masonryContainer{
    width:100%;
    margin:0 auto;
}

.masonryColumn{
    height:100%;
    float:left;
}

.masonryImgDiv{
    margin:0px;
    padding:1px;
}

.masonryImg{
    width:100%;
    display:block;
}